@import "tailwindcss";
@import "brickbot-ui/style.css";

:root {
  --content-width: min(calc(100vw - 3rem), 25rem);

  color-scheme: dark;

  .font-semi-condensed {
    font-stretch: semi-condensed;
    font-weight: 900;
  }
}

html,
body,
#__next {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Chrome, Safari, Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#__next::-webkit-scrollbar {
  width: 0;
  height: 0;
}

img,
a {
  user-select: none;
  -webkit-user-drag: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}
