@import "tailwindcss";

/* 2xs */
:root {
  --icon-size: 2rem;
  --icon-padding: 0.85rem;
  --link-text-size: 1rem;
  --link-text-line-height: 1.2rem;
  --content-width: clamp(18rem, calc(100vw - 3rem), 22rem);
  --top-spacing: 2rem;
  --section-gap: 3rem;
  --related-gap: 1rem;
}

/* xs */
@media (min-width: 450px) {
  :root {
    --icon-size: 2.25rem;
    --icon-padding: 1rem;
    --link-text-size: 1.1rem;
    --link-text-line-height: 1.3rem;
    --content-width: 24rem;
    --top-spacing: 2rem;
    --section-gap: 3rem;
    --related-gap: 1rem;
  }
}

/* sm */
@media (min-width: 640px) {
  :root {
    --icon-size: 2.5rem;
    --icon-padding: 1rem;
    --link-text-size: 1.1rem;
    --link-text-line-height: 1.3rem;
    --content-width: 28rem;
    --top-spacing: 2rem;
    --section-gap: 3rem;
    --related-gap: 1.25rem;
  }
}

/* md */
@media (min-width: 768px) {
  :root {
    --icon-size: 2.5rem;
    --icon-padding: 1rem;
    --link-text-size: 1.1rem;
    --link-text-line-height: 1.3rem;
    --content-width: 28rem;
    --top-spacing: 3rem;
    --section-gap: 3rem;
    --related-gap: 1.4rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  :root {
    --icon-size: 2.5rem;
    --icon-padding: 1rem;
    --link-text-size: 1.25rem;
    --link-text-line-height: 1.45rem;
    --content-width: 28rem;
    --top-spacing: 4rem;
    --section-gap: 3.5rem;
    --related-gap: 1.5rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  :root {
    --icon-size: 2.5rem;
    --icon-padding: 1rem;
    --link-text-size: 1.25rem;
    --link-text-line-height: 1.45rem;
    --content-width: 28rem;
    --top-spacing: 4rem;
    --section-gap: 3.5rem;
    --related-gap: 1.5rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  :root {
    --icon-size: 2.5rem;
    --icon-padding: 1rem;
    --link-text-size: 1.25rem;
    --link-text-line-height: 1.45rem;
    --content-width: 28rem;
    --top-spacing: 4rem;
    --section-gap: 3.5rem;
    --related-gap: 1.5rem;
  }
}

:root {
  --background: #0f0f0f;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-anek-latin);
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-anek-latin), sans-serif;
}
